# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
vad/

# Logs
*.log
logs/

# Streamlit cache and runs
.streamlit/
runs/
drift_frames/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
