# pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch==2.5.1+cu118 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.20.1+cu118 --index-url https://download.pytorch.org/whl/cu118
torchaudio==2.5.1+cu118 --index-url https://download.pytorch.org/whl/cu118
tqdm>=4.41.0

# Logging -------------------------------------
tensorboard>=2.4.1

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

thop 

# Extras -----------
streamlit
psutil

# YOLOv11
ultralytics
